<div class="page-header">
  <h3>Crossfit Box #<%= @crossfit_box.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @crossfit_box.name %></dd>

      <dt>Address</dt>
      <dd><%= @crossfit_box.address %></dd>

      <dt>Details</dt>
      <dd><%= @crossfit_box.details %></dd>

      <dt>City</dt>
      <dd><%= @crossfit_box.city_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/crossfit_boxes" class="btn btn-primary">
        Back
      </a>
      <a href="/crossfit_boxes/<%= @crossfit_box.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_crossfit_box/<%= @crossfit_box.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
